/*logo & menu*/
.menu-header{
  z-index:99;
  &:after{content:"";display: block; clear:both;}

}



.menu-header>.logo-gaudium{
  background: url(../images/image_sprite.png) no-repeat 0 -170px;
  width:110px;height:130px;
  text-indent:-9999px;
  position:absolute;top:5%;left:5%;

}

.menu-header>.btn-menu{
  background: url(../images/btn_menu.png);
  width:60px;height:37px;
  text-indent:-9999px;
  position:absolute;top:7%;right:5%;
}