body{
  color:white;

}


//audio player equalizer

.equalizer{
  position:absolute;
  right:0; top:40px;
}
body {
  background: #000;
}
.bar-c {
  overflow: hidden;
  height: 30px;
  width: 40px;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
}
.bar {
  height: 1px;
  width: 3px;
  display: inline-block;
  background-color: #ffffd2;
  bottom: 0;
  position: absolute;

  //&.noAnim {
  //  animation: none;
  //  animation-name: none;
  //}

  &#bar-1 {
    left: 0;
    animation-name: danceHeight1;
    animation-delay: 0ms;
  }
  &#bar-2 {
    left: 6px;
    animation-name: danceHeight2;
    animation-delay: 300ms;
  }
  &#bar-3 {
    left: 12px;
    animation-name: danceHeight3;
    animation-delay: 600ms;
  }
  &#bar-4 {
    left: 18px;
    animation-name: danceHeight4;
    animation-delay: 900ms;
  }
  &#bar-5 {
    left: 24px;
    animation-name: danceHeight5;
    animation-delay: 1200ms;
  }
  &#bar-6 {
    left: 30px;
    animation-name: danceHeight6;
    animation-delay: 1500ms;
  }

  animation-duration: 500ms;
  animation-play-state: running;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


@keyframes danceHeight1 {
  from {
    height: 1px;
  }
  to {
    height: 22px;
  }
}


@keyframes danceHeight2 {
  from {
    height: 1px;
  }
  to {
    height: 15px;
  }
}
@keyframes danceHeight3 {
  from {
    height: 1px;
  }
  to {
    height: 30px;
  }
}
@keyframes danceHeight4 {
  from {
    height: 1px;
  }
  to {
    height: 20px;
  }
}
@keyframes danceHeight5 {
  from {
    height: 1px;
  }
  to {
    height: 15px;
  }
}
@keyframes danceHeight6 {
  from {
    height: 1px;
  }
  to {
    height: 15px;
  }
}




.intro{


  z-index: 1;

  &-gaudium {
    font-family: "Century Gothic", sans-serif;
    font-size: 25px;
    float: left;
    margin: 60px 100px 0;
  }

  &-bg {
    background: url(../images/intro_bg.jpg) no-repeat center ;
    //background-size:100% auto;
    width:100%;height:1100px;

    position: relative;

  }

  &-header {
    height: 100px;
    &:after {
      content: "";
      display: block;
      clear: both;
    }

  }
}





.logo-webpbook{
  background: url(../images/image_sprite.png) no-repeat 0 -60px;
  width:230px;height:100px;
  text-indent:-9999px;
  float:right;
  margin:5px 100px 0;
}




/*중앙 타이틀*/

.intro-title {
  font-family: "Antro Vectra", sans-serif;
  font-size: 48px;
  width: 380px;
  text-align: center;
  padding-bottom: 20px;

  &-wrap {
    display: block;
    margin-top: 300px;
    padding-left: calc(50% - 190px)

  }

}


/*하단 플레이어*/

.song-title {
  font-family: "Century Gothic", sans-serif;
  width: 1000px;
  font-size: 20px;
  position:relative;
}

.music-player-wrap{
  width:1090px;height:130px;
  margin:200px auto;
}
.music-player{
  width:1056px;height:100px;
  position:relative;

}


.btn{
  position:absolute;left:0;
  display:block;
  border:0;
  width:56px; height:56px;
  background: url(../images/image_sprite.png) no-repeat -2px -2px;
  text-indent:-9999px;

}

.btn.pause{
  background-position:-60px -2px;
  position:absolute;left:0
}

.progress{
  width:940px;height:5px;
  background:black;
  position:absolute; left:65px;top:63px;

  &-bar{
    height:5px; width:0;
    background:white;transition:all 0.5s linear;
  }


}


.btn-and-bar{
  height:50px;
  &:after{content:"";display:block;clear:both;}
}

.current-time{
  float:left;
  width:1000px;
}

