body{
  color:white;

}


.intro{


  z-index: 1;

  &-gaudium {
    font-family: "Century Gothic", sans-serif;
    font-size: 25px;
    float: left;
    margin: 60px 100px 0;
  }

  &-bg {
    background: url(../images/intro_bg.jpg) no-repeat center ;
    //background-size:100% auto;
    width:100%;height:100%;

    position: relative;
    height:100%;

  }

  &-header {
    height: 100px;
    &:after {
      content: "";
      display: block;
      clear: both;
    }

  }
}





.logo-webpbook{
  background: url(../images/image_sprite.png) no-repeat 0 -60px;
  width:230px;height:100px;
  text-indent:-9999px;
  float:right;
  margin:5px 100px 0;
}




/*중앙 타이틀*/

.intro-title {
  font-family: "Antro Vectra", sans-serif;
  font-size: 48px;
  width: 380px;
  text-align: center;
  padding-bottom: 20px;

  &-wrap {
    display: block;
    margin-top: 300px;
    padding-left: calc(50% - 190px)

  }

}


/*하단 플레이어*/

.song-title {
  font-family: "Century Gothic", sans-serif;
  width: 1000px;
  font-size: 20px;
  position:relative;
}

.music-player-wrap{
  width:1090px;height:130px;
  margin:200px auto;
}
.music-player{
  width:1056px;height:100px;
  position:relative;

}


.btn{
  position:absolute;left:0;
  display:block;
  border:0;
  width:56px; height:56px;
  background: url(../images/image_sprite.png) no-repeat -2px -2px;
  text-indent:-9999px;

}

.btn.pause{
  background-position:-60px -2px;
  position:absolute;left:0
}

.progress{
  width:1000px;height:5px;
  background:black;
  position:absolute; left:65px;top:63px;

}
.bar{
  height:5px; width:0;
  background:white;transition:all 0.5s linear;

}


.btn-and-bar{
  height:50px;
  &:after{content:"";display:block;clear:both;}
}

.current-time{
  float:left;
  width:1000px;
}
