.location{
  background:url(../images/location_bg.png) no-repeat fixed  0 0;
  width:100%;height:1280px;
  padding-top:50px;
  overflow:hidden;
  cursor: pointer;
  //overflow:hidden; //지우고 각 drawer 에 wrapper 만들어서 적용
  //wrapper에 길이 값 조정

  :after{ content:"";display:block;clear:both;}

  .drawer-upside, .drawer-downside{
    width:80%;
    position:relative;
    margin-top: 50px;
    overflow:hidden;

    &:after{
      content:"";display:block;clear:both;
    }




  }
  .drawer-upside{
    right:0;
    height:438px;
    float:right;
    transition:width 1s cubic-bezier(0.62,-0.07, 0.6, 1.5);

    .dimmed{ height:438px;}

    .sero-bar:after{
      width:20px; height:438px;
      left:0;
    }



  }

  .drawer-downside{
    left:0;
    height:570px;
   top:50px;
    position:relative;
    transition:width 1s cubic-bezier(0.62,-0.07, 0.6, 1.5);

    .sero-bar:after{
      width:20px; height:570px;
      position:absolute;
      right:0;

    }



  }



 //   javascript  작동클래스 .shut

  .drawer-upside.shut{width:580px;}
  .drawer-downside.shut{width:580px;}
  .wrap-drawer{width:100%;position:absolute;top:488px;}


  .sub-title{
    font-size:50px;
    text-align:center;

  }


  .dimmed{
    width:100%; height:570px;
    background-color:black;
    opacity:0.7;
    position:absolute;
    top:0 ; left:0;
  }











  //일시

  .time-and-date{
    float:left;
    z-index:50;
    position:relative;
    margin-left:50px;
    height:438px;


    .sub-title{
      width:270px;
      margin:40px 0;

    }

    &-text{
      font-size:40px;
      text-align:center;
      margin: 0 190px 30px 0 ;

      &:last-child{
        margin-top:50px;
      }

    }





  }
  .calender{
    background:url(../images/calender.png) no-repeat;
    width:402px; height:420px;
    text-indent:-9999px;
    display:block;
    float:left;
    position:relative;
  }


//  장소

  .where-to-go{
    width:430px;
    float:right;
    position:relative;
    margin:46px 50px 0 100px;
    text-align:right;

    .sub-title{
     text-align:right;

    }
   .location{
     font-size:20px;

     &-address{
       font-size:23px;
       &-wrap{
         margin-top:20px;
       }


     }
     &-traffic{
       position:relative;

       &-wrap{
         margin-top:20px;
       }

     }


   }

    .subsubtitle{
      font-weight:bold;
      margin-top:20px;
    }




  }
  .map{
    float:right;
    width:465px; height:465px;
    position:relative;
    text-indent:-9999px;
    top:50px;
    &-link{
      position:absolute;
      top:0;left:0;
    }
  }



}