

.section1{
  background:url(../images/player_detail_bg1.png) no-repeat 0 0;
  width:100%;height:1279px;
}


.section2{
  background:black;
  height:950px;
  padding:150px 0;
}


.section3{
  background:url(../images/player_detail_bg3.png) no-repeat 0 0;
  width:100%;height:1067px;
}