//Variables to customise the stick loader!

$text_color: white;
$stick_color: white; //Changes the colour of all sticks
$stick_length: 30px; //Changes length of all sticks
$stick_distance: -8px; //Changes distance between sticks (will need editing after 30px)


@import url(https://fonts.googleapis.com/css?family=Lato:100,300,700);


//html{
//  background:#974659;}
h1 {
  color:$text_color;
  text-transform: uppercase;
  font-size:0.7em;
  letter-spacing:1.3px;
  text-align:center;
  width:170px;
  margin-top:20px;
  -webkit-animation: fade 2s infinite;
  -moz-animation: fade 2s infinite;

}

#container {

  width:$stick_length*6;
  padding: 50px;
 //margin: 1000px;
  vertical-align: middle;

  position:fixed;
  top:50% ; left:50% ;
  z-index:99;

  background:#974659;
  border-radius:50%;

}







.stick {

  width: $stick_length;
  height:3px;
  background:$stick_color;
  display:inline-block;
  margin-left:$stick_distance;

}

.stick:nth-child(n) {
  transform:rotate(30deg);
  -ms-transform:rotate(30deg); /* IE 9 */
  -webkit-transform:rotate(30deg); /* Safari and Chrome */
  -moz-transform:rotate(30deg);
  -webkit-animation: fall 2s infinite;
  -moz-animation: fall 2s infinite;

}
.stick:nth-child(2n) {
  transform:rotate(-30deg);
  -ms-transform:rotate(-30deg); /* IE 9 */
  -webkit-transform:rotate(-30deg); /* Safari and Chrome */
  -moz-transform:rotate(-30deg);
  -webkit-animation: rise 2s infinite;
  -moz-animation: rise 2s infinite;

}

@-webkit-keyframes rise {
  50% { transform:rotate(30deg);
    -ms-transform:rotate(30deg); /* IE 9 */
    -webkit-transform:rotate(30deg);
    -moz-transform:rotate(30deg);
  ;}
}
@-moz-keyframes rise {
  50% { transform:rotate(30deg);
    -ms-transform:rotate(30deg); /* IE 9 */
    -webkit-transform:rotate(30deg);
    -moz-transform:rotate(30deg);
  }
}
@-o-keyframes rise {
  50% { transform:rotate(30deg);
    -ms-transform:rotate(30deg); /* IE 9 */
    -webkit-transform:rotate(30deg);
    -moz-transform:rotate(30deg);
  }}
@keyframes rise {
  50% { transform:rotate(30deg);
    -ms-transform:rotate(30deg); /* IE 9 */
    -webkit-transform:rotate(30deg);
    -moz-transform:rotate(30deg);
  }
}

@-webkit-keyframes fall {
  50% { transform:rotate(-30deg);
    -ms-transform:rotate(-30deg); /* IE 9 */
    -webkit-transform:rotate(-30deg);
    -moz-transform:rotate(30deg);
  }
}
@-moz-keyframes fall {
  50% { transform:rotate(-30deg);
    -ms-transform:rotate(-30deg); /* IE 9 */
    -webkit-transform:rotate(-30deg);
    -moz-transform:rotate(-30deg);

  }
}
@-o-keyframes fall {
  50% { transform:rotate(-30deg);
    -ms-transform:rotate(-30deg); /* IE 9 */
    -webkit-transform:rotate(-30deg);
    -moz-transform:rotate(30deg);

  }}
@keyframes fall {
  50% { transform:rotate(-30deg);
    -ms-transform:rotate(-30deg); /* IE 9 */
    -webkit-transform:rotate(-30deg);
    -moz-transform:rotate(30deg);

  }
}

@-webkit-keyframes fade {
  50%{opacity:0.5}
  100%{opacity:1}
}
@-moz-keyframes fade {
  50%{opacity:0.5}
  100%{opacity:1}
}
@-o-keyframes fade {
  50%{opacity:0.5}
  100%{opacity:1}}
@keyframes fade {
  50%{opacity:0.5}
  100%{opacity:1}
}

///bar stick loader end//

.program-detail-01{
  height:1960px;
  .section01{
    background:url(../images/program_detail01_bg01.jpg) no-repeat center;
    width:100%;
    height:980px;

    .program-list{
      &-title{
        padding-top:100px;
        &-sub{margin-left:60px;}
      }
    }


  }

  .music-player-wrap{
    margin:360px auto 0;
    padding:50px;

  }

  .pic-01{float:right;padding-right:20px;}

.section02{
  background:url(../images/program_detail01_bg02.jpg) no-repeat center;
  width:100%;
  height:980px;


  &-text{
        padding-top:120px;
    >p{

    }
  }

}


.section03{
  background:url(../images/program_detail01_bg03.jpg) no-repeat center;
  width:100%;
  height:1279px;

.igor-score{
  width:600px;
  margin-top:70px;
  float:left;}

  &-text{
    width:450px;
    margin:70px auto 0;
    float:right;
  >p{
    margin-bottom:50px;
    }
  }

}

  .program-nav{
    width:100%; height:100px;
    position:relative; bottom:100px;

    background:black;
    opacity:0.8;


    &-pre{
      display:block;
      text-align:right;
      float:left;
      font-family:"Century Gothic",sans-serif;
      font-size:30px;
      cursor:pointer;

      position:absolute;left:150px;top:25px;
    }

    &-next{
      display:block;
      text-align:left;
      float:right;
      font-family:"Century Gothic",sans-serif;
      font-size:30px;
      cursor:pointer;


      position:absolute;right:150px;top:25px;
    }

  }


}