.program-detail-03{


  .subsubtitle{font-size:25px;
  padding:100px 0 10px 0;
  &02{padding:0 0 20px 0 ;}
  }

  .section01{
    background: url(../images/pic_at_exh00.png) no-repeat;
    width:100%; height:980px;

    .program-list{
      &-title{
        font-size:40px;
        padding-top:80px;
        font-family:"Century gothic",sans-serif;}
      &-text{
        width:1000px;
        margin: 50px 0 50px 60px;
        >p {
          font-size:15px;
          font-family:"century gothic",sans-serif;
          >a{ font-size:15px;
            font-family:"century gothic",sans-serif;
          &:hover{color:gold;}
          }
        }


      }
    }


    .inner-box:after{content:"";display:block;clear:both;}


    .music-player-wrap{margin:0 auto;}

  }
  .section02{
    background: url(../images/pic_at_exh01.png) no-repeat;
    width:100%; height:980px;

    &-text{
      padding-top:80px;
      >p{
        text-indent:5px;
        margin-bottom:10px;}
    }

    .hartmann-list{
      width:550px;
      margin-left:50px;
      float:left;

      &-link{
        &:hover{color:gold;}
      }
    }

    //링크태그
    .hm-link{
      &-01{}
      &-02{}
      &-03{}
      &-03{}
      &-04{}
      &-05{}
    }

    //결과화면
    .hartmann-pic{
      height:200px;
      float:right;
      position:relative;

      &-01{position:absolute;
        display:none;
        left:-400px;
        height:250px;

        &:hover{height:800px;left:-800px;top:-550px;}

        }
      &-02{position:absolute;
        display:none;
        left:-510px;
        height:250px;
        &:hover{height:800px;left:-1100px;top:-530px;}
      }
      &-03{position:absolute;
        display:none;
        left:-480px;
        height:250px;
        &:hover{height:800px;left:-1000px;top:-530px;}
      }

      &-04{position:absolute;
        display:none;
        left:-400px;
        height:250px;
        &:hover{height:800px;left:-700px;top:-530px;}
      }
      &-05{position:absolute;
        display:none;
        left:-400px;
        height:250px;
        &:hover{height:800px;left:-700px;top:-520px;}
      }
    }

    .hartman-wrap{
      border-top:solid 1px white;
      padding-top:20px;
      &:after{
      content:"";display:block;clear:both;
    }
    }

  }

  .section03{
    background: url(../images/promenade.png) no-repeat center;
    width:100%; height:980px;

    .subsubtitle{
      padding-top:450px;
    }
    &-text{
      margin-top:100px;
      >p{margin-bottom:10px;}
    }


  }

  .section04{
    background: url(../images/gnomus.png) no-repeat;
    width:100%; height:980px;

    .subsubtitle{
      padding-top:200px;
      text-align:right;
    }

    &-text{
     margin-top:100px;
      text-align:right;
      >p{margin-bottom:10px;}}

  }

  .section05{
    background: url(../images/castello.png) no-repeat center;
    width:100%; height:980px;

    .subsubtitle{
      padding-top:300px;
    }

    &-text{
      margin-top:100px;
      >p{margin-bottom:10px;}}

  }

  //tuileries
  .section06{
    background: url(../images/tuileries.png) no-repeat center;
    width:100%; height:980px;

    .subsubtitle{
      padding-top:250px;
      text-align:right;
    }

    &-text{
      margin-top:100px;
      text-align:right;
      >p{margin-bottom:10px;}}


  }

  .section07{
    background: url(../images/bydlo.png) no-repeat;
    width:100%; height:980px;

    .subsubtitle{
      padding-top:200px;
    }

    &-text{
      margin-top:100px;
      >p{margin-bottom:10px;}}

  }

  .section08{
    background: url(../images/dans_coques.png) no-repeat;
    width:100%; height:980px;

    .subsubtitle{
      padding-top:250px;
      text-align:right;
      &02{text-align:right;font-size:18px;}

    }

    &-text{
      margin-top:100px;
      text-align:right;
      >p{margin-bottom:10px;}}

  }


  .section09{
    background: url(../images/two_jews.png) no-repeat;
    width:100%; height:980px;

    .subsubtitle{
      padding-top:200px;
    }

    &-text{
      margin-top:100px;
      >p{margin-bottom:10px;}}

  }

  .section10{
    background: url(../images/limoges.png) no-repeat center;
    width:100%; height:1200px;

    .subsubtitle{
      padding-top:300px;
      text-align:right;
      &02{text-align:right;font-size:18px;}

    }

    &-text{
      margin-top:100px;
      text-align:right;
      >p{margin-bottom:10px;}}


  }

  .section11{
    background: url(../images/catacomb.png) no-repeat;
    width:100%; height:980px;

    .subsubtitle{
      padding-top:150px;
    }

    &-text{
      margin-top:100px;
      >p{margin-bottom:10px;}}


  }

  .section12{
    background: url(../images/babayaga.png) no-repeat;
    width:100%; height:980px;

    .subsubtitle{
      padding-top:150px;
      text-align:right;
      &02{text-align:right;font-size:18px;}

    }

    &-text{
      width:800px;
      margin-top:100px;
      text-align:right;
      float:right;
      >p{margin-bottom:10px;
        &:first-child{font-size:18px;color:orangered;}
      }
    }

    .inner-box:after{content:"";display:block;clear:both;}

  }

  .section13{
    background: url(../images/gate_of_kiev.png) no-repeat;
    width:100%; height:1324px;

    .subsubtitle{
      padding-top:150px;
    }

    &-text{
      margin-top:50px;
      >p{margin-bottom:10px;}}


  }





  .Stasov{color:goldenrod;}


  .program-nav{
    width:100%; height:200px;
    position:absolute;
    top:13144px;
    background:black;
    opacity:0.8;


    &-pre{
      display:block;
      width:500px;
      text-align:right; padding:82px 100px 82px 320px;
      float:left;
      font-family:"Century Gothic",sans-serif;
      font-size:30px;
      cursor:pointer;
    }

    &-next{
      display:block;
      width:500px;
      text-align:left;padding:82px 260px 82px 210px;
      float:right;
      font-family:"Century Gothic",sans-serif;
      font-size:30px;
      cursor:pointer;
    }

  }






}