

.replay{
  background: url(../images/replay_bg.png) no-repeat 0 0 fixed ;
  width:100%;




  .sub-title{
    padding-top:100px;
  }

  .garo-bar:after{
    width:710px; height:20px;
    margin-top:40px;
  }


  .story{
    width:800px;
    margin: 100px auto;
    padding-bottom: 100px;
    border-bottom: 1px solid white;

    .thumbnail-movie{
      margin: 100px auto;
      &-content{
        width:800px;
      }
    }




    .thumbnail-text-wrap{
      .btn-view-more{
        border: 1px solid white;
        background:transparent;
        color:white;
        font-size:30px;
        font-family:"Century Gothic", sans-serif;

        float:right;
      }
      &:after{
        content:"";display:block;clear:both;
      }

    }


  }







}
