@charset "UTF-8";

@font-face {
  font-family: "Antro Vectra";
  src: url("../fonts/Antro_Vectra.eot"); /* IE 6~8 */
  src: local("☺"),
  url('../fonts/Antro_Vectra.woff') format('woff');
}


@font-face {
  font-family: "Century Gothic";
  src: url("../fonts/GOTHIC.eot"); /* IE 6~8 */
  src: local("☺"),
  url('../fonts/GOTHIC.woff') format('woff');
}


@font-face {
  font-family: "SeoulHangang";
  src: url('../fonts/SeoulHangangM.eot'); /* IE 6~8 */
  src: local("☺"),
  url('../fonts/SeoulHangangM.woff') format('woff');
}

@font-face {
  font-family: "SeoulNamsan";
  src: url('../fonts/SeoulNamsanM.eot'); /* IE 6~8 */
  src: local("☺"),
  url('../fonts/SeoulNamsanM.woff') format('woff');
}


@import "reset";


@import "intro";
@import "main";
@import "header";
@import "footer";
@import "player_detail";
@import "about_us";
@import "gnb";
@import "location";
@import "replay";
@import "replay_detail";

@import "header_program";
@import "program";
@import "program_detail_01";
@import "program_detail_02";
@import "program_detail_03";
@import "composer";
@import "gaudium";